@import url(http://fonts.googleapis.com/css?family=Cinzel);
@import url(http://fonts.googleapis.com/css?family=Cinzel+Decorative);

html, body {
  background: #1E1E1E;
}
* {
  border-radius: 0 !important;
}
.btn {
  margin: 4px;
  font: normal 12px 'Cinzel', serif;
}
.btn-lg {
  padding: 2px;
  font: bold 20px 'Cinzel', serif;
  line-height: 40px;
}
.btn-first {
  margin: 120px 0 0;
}
.vcenter {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}
.well {
  background: #000000;
}
.label {
  padding: 10px 40px;
  height: 180px;
  width: 400px;
  background: #484848;
}
.label-day {
  font: normal 280px serif;
}
.label-timer {
  display: block;
  margin: 0 auto;
  font: normal 140px serif;
}
h1 {
  margin: 20px 10px auto 8%;
  color: #FFFFFF;
  text-align: center;
}
h1.day-counter {
  font: normal 200px 'Cinzel', serif;
}
h1.timer {
  display: block;
  font: normal 80px 'Cinzel', serif;
}
.progress {
  margin: 30px;
}

.blink {
  -webkit-animation-name: blinker;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  
  -moz-animation-name: blinker;
  -moz-animation-duration: 1s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  
  animation-name: blinker;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@-moz-keyframes blinker {  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}
